{% extends 'base.html' %}
{% block content %}
    <div class="card mb-3" >
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">

          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description}}</p>
          {% if product.on_sale %}
              <strike>${{ product.price }}</strike>
              &nbsp;
              ${{ product.price }}
          {% else %}
              ${{ product.price }}
          {% endif %}
          <br><br><br>
          <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
          <br><br><br>
          <button class="btn btn-secondary" id="add-to-cart" type="button" value="{{ product.id }}"> Add to Cart</button>

      </div>
    </div>
  </div>
</div>

    <script>
    //check if a button is pressed
    $(document).on('click', '#add-to-cart', function(e){
        e.preventDefault();
        $.ajax({ //sends to the backend without refreshing the webpage
            type: 'POST',
            url: '{% url 'cart_add' %}',
            data: {
                product_id: $('#add-to-cart').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function (json){
               //console.log(json)
                document.getElementById("cart_quantity").textContent = json.qty
            },
            error:function (xhr, errmsg, err){

            }
        });
    })
    </script>



{% endblock %}